html {
  @font-face {
    font-family: "Inter regular";
    src: url("../assets//fonts/Inter-Bold-4.d6312ef1.otf") format("opentype");
  }

  @font-face {
    font-family: "Inter bold";
    font-weight: bold;
    src: url("../assets/fonts/Inter-Regular-9.6b39225d.otf") format("opentype");
  }

  body {
    font-family: "Inter regular", Helvetica, sans-serif, -apple-system;
    color: $color_dark;
    margin: 0 !important;

    // header-main-footer layout
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  header {
    min-height: 50px;
  }
  main {
    min-height: 300px;
  }
  footer {
    min-height: 50px;
    padding-bottom: 15px;
  }

  // typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  p,
  li,
  a,
  button {
    font-family: "Inter bold", Helvetica, sans-serif, -apple-system;
  }

  .gas-fee {
    font-size: 16px;
    @media (max-width: 650px) {
      font-size: 13px;
    }
  }

  .app-bg-image {
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
