html {
  body {
    font-family: "Outfit", Helvetica, sans-serif, -apple-system;
    color: $color_dark;
    margin: 0 !important;

    // header-main-footer layout
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  header {
    min-height: 50px;
  }
  main {
    min-height: 300px;
  }
  footer {
    min-height: 50px;
    padding-bottom: 15px;
  }

  // typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  p,
  li,
  a,
  button {
    font-family: "Outfit", Helvetica, sans-serif, -apple-system;
  }

  .app-bg-image {
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("../assets/images/app-background.png");
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
