$color_white: #ffff;
$color_primary_light: #8f5454;
$color_primary: #eb382d;
$color_secondary: #bc3035;
$color_dark: #5f5f5f;
$color_black: #1e0101;
$color_f5: #f5f5f5;

// colors array
$colors: (
  "white": $color_white,
  "primary": $color_primary,
  "secondary": $color_secondary,
  "dark": $color_dark,
  "black": $color_black,
  "f5": $color_f5,
);

// text colors
@each $item, $color in $colors {
  .color-#{$item} {
    color: map-get($colors, $item);
  }
}
